{
  "sourceMaps": true,
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": 4.0,
          "uglify": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator"
  ]
}
